* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  background: #003366;
  padding: 40px 60px;
}

.signup {
  width: 360px;
  height: 550px;
  margin: auto;
  background-color: #0047ab;
  border-radius: 3px;
  padding-top: 50px;
}

.login {
  width: 360px;
  height: 400px;
  margin: auto;
  background-color: #0047ab;
  border-radius: 3px;
  padding-top: 50px;
}

form {
  width: 300px;
  margin-left: 20px;
}

form label {
  display: flex;
  margin-top: 20px;
  font-size: 18px;
  color: white;
}

form input {
  width: 107%;
  padding: 7px;
  border: none;
  border: 1px white;
  border-radius: 6px;
  outline: none;
}

button[type="button"] {
  width: 320px;
  height: 35px;
  margin-top: 50px;
  border: none;
  border-radius: 6px;
  color: white;
  background-color: #060f19;
}

.container {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  background: #0047ab;
  padding: 40px 60px; 
}

.game-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.have{
  text-align: center;
  padding-top: 20px;
  color: white;
  font-size: 15px;
}

h1 {
  font-size: 3.5em;
  color: white;
  letter-spacing: 0.1em;
  text-align: center;
}

h2 {
  text-align: center;
  font-size: 2.8em;
  color: white;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

h3 {
  text-align: center;
  font-size: 2.5em;
  color: white;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}

ol {
  text-align: left;
  font-size: 1.3em;
  color: white;
  padding-bottom: 30px;
}

.start-menu {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
}

.start-button, .reset-button, .play-again-button{
  margin: 10px auto;
  display: block;
  padding: 15px 20px;
  color: #0047ab;
  background-color: white;
  border: none;
  font-size: 1.7em;
  letter-spacing: 0.1em;
  cursor: pointer;
}

.game {
  width: 440px;
  height: 440px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  transform-style: preserve-3d;
  perspective: 500px;
}

.item {
  position: relative;
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 3em;
  background: white;
  transform : rotateY(180deg);
  transition: 0.25s;
}

.item.boxOpen {
  transform: rotateY(0deg);
}

.item::after {
  content: '';
  position: absolute;
  inset: 0;
  background: #176be1;
  transition: 0.25s;
  transform: rotate(0deg);
  backface-visibility: hidden;
}

.boxOpen:after, .boxMatch:after {
  transform: rotateY(180deg);
}

.score {
  padding-bottom: 10px;
  color: white;
  font-size: 1.5em;
}

#moves-count {
  padding-bottom: 10px;
  color: white;
  font-size: 1.5em;
}

#time {
  padding-bottom: 30px;
  color: white;
  font-size: 1.5em;
}

.finish-menu{
  display: none;
  text-align: center;
  font-size: 1.2em;
  color: white;
  letter-spacing: 0.05em;
  padding-bottom: 20px;
}
